.text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 3.8em;
    font-weight: 400;
}

.email {
    display: flex;
    justify-content: center;
    padding-top: 1.2em;
    text-decoration: none;
    color: #b8b8b8;
    font-weight: 350;
}

.hrfoot-con {
    margin: 15em 0em 1.3em 0em;
    border-top: 0.0125em solid #2c2c2c;
    opacity: 25%;
}

.code-con {
  display: flex;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: -12em;
}

.code-con img {
    width: 18em;
}

.dark-mode .code-con img {
  filter: brightness(0) invert(1);
}

 @media (max-width:600px){
    .text {
    font-size: 1.4em;
    }

   .code-con img {
    width: 15em;
    }

    .email {
        font-size: 0.8em;
    }

 }